body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.25;
  color: #000;
  font-family: Tahoma, sans-serif;
}

.title {
  color: #000;
  margin: 0;
}

.title_level_primary {
  font-size: 30px;
  line-height: 42px;
}

.title_level_secondary {
  font-size: 24px;
  line-height: 30px;
}

.title_level_tertiary {
  font-size: 14px;
  line-height: 18px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;

  outline: 1px dotted #279B61;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

/* HEADER */
.main-header {
  background-color: #000;
}

.logo {
  float: left;
  width: 140px;
  margin-right: 20px;

  outline: 1px dotted #3F5D7D;
}

.logo__link {
  display: block;
  padding: 23px 0;
  text-align: center;
}

.main-navigation {
  float: left;
  width: 620px;
  margin-right: 20px;
  outline: 1px dotted #3F5D7D;
}

.user-block {
  float: right;
  width: 140px;

  outline: 1px dotted #3F5D7D;
}

.login {
  display: block;
  position: relative;
  padding: 25px 0;
  padding-left: 85px;

  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.login:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 16px;
  background: url(../img/login-icon.png);
  left: 54px;
  top: 27px;
}

.menu {
  padding: 0;
  font-size: 0;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  display: block;
  padding: 25px 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__item:first-child .menu__link {
  padding-left: 10px;
}

/* /HEADER */


/* CATALOG */
.catalog-content {
  padding-top: 54px;
  background: #f8f5f2 url(../img/bg-main.png);
}

.catalog-content__title {
  margin-bottom: 21px;

  outline: 1px dotted #CC3333;
}

.breadcrumbs {
  margin-bottom: 54px;

  outline: 1px dotted #CC3333;
}

.catalog-content__left {
  float: left;
  width: 220px;
  margin-right: 20px;

  outline: 1px dotted #CC3333;
}

.catalog-content__right {
  float: right;
  width: 700px;

  outline: 1px dotted #CC3333;
}

.catalog-content-form__title {
  margin-bottom: 31px;

  outline: 1px dotted #CC3333;
}

.brands {
  margin-bottom: 52px;

  outline: 1px dotted #CC3333;
}

.products-groups {
  margin-bottom: 50px;

  outline: 1px dotted #CC3333;
}

.products {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  font-size: 0;

  outline: 1px dotted #CC3333;
}

.products__item {
  display: inline-block;
  vertical-align: top;

  width: 220px;
  margin-right: 20px;

  font-size: 14px;

  background-color: #fff;

  outline: 1px dotted #CC3333;
}

.products__item:nth-child(3n) {
  margin-right: 0;
}

.products__link {
  display: block;
}

.products__image {
  outline: 1px dotted #CC3333;
}

.products__title {
  margin-top: 13px;
  margin-bottom: 15px;

  padding-left: 15px;

  outline: 1px dotted #CC3333;
}

.products__category,
.products__brand {
  display: block;
}

.products__actions {
  margin-bottom: 15px;
  padding-left: 15px;

  outline: 1px dotted #CC3333;
}

.paginator {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 0;

  outline: 1px dotted #CC3333;
}

.paginator__item {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;

  margin-right: 7px;
}

.paginator__item_active {
  padding: 14px 19px;
  color: #000;
  background-color: #fff;
}

.paginator__link {
  display: block;
  padding: 14px 19px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}
/* /CATALOG */

/* FOOTER */
.main-footer {
  background: #232323 url(../img/bg-footer.png);

  outline: 1px dotted #FFCC33;
}

.main-footer__container {
  padding-top: 58px;
  padding-bottom: 38px;

  outline: 1px dotted #FFCC33;
}

.contacts {
  float: left;
  width: 310px;
  margin-right: 90px;

  outline: 1px dotted #FFCC33;
}

.social {
  float: left;
  width: 140px;

  outline: 1px dotted #FFCC33;
}

.copyright {
  width: 140px;
  float: right;

  outline: 1px dotted #FFCC33;
}
/* /FOOTER */

.login-form {
  display: none;
}
